
html, body  {
  overflow: hidden;
}
* {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

:where(iframe:not([hidden])) {
  display: block;
}

html.video {
  height: 100%;

  body {
    height: 100%;
  }

  iframe {
    display: block;
    width: 100%;
    height: 100%;
  }
}
